
.vs/darkie/FileContentIndex/17600aec-a48e-4870-a9bc-0fed137c6103.vsidx
.vs/darkie/FileContentIndex/read.lock
.vs/ProjectSettings.json
.vs/darkie/v17/.wsuo
.vs/darkie/FileContentIndex/63651f5c-b584-4e4d-bc38-93b894fabb11.vsidx
.vs/darkie/FileContentIndex/433aa6a1-856c-4f37-bd31-6f9b0fdf20be.vsidx
.vs/slnx.sqlite
.vs/darkie/FileContentIndex/d5b3d8b4-be5e-4b1f-92b6-36ac58da3720.vsidx
.vs/darkie/FileContentIndex/8efb8f1c-ea10-4fd4-9101-31038a47c1cc.vsidx
.vs/darkie/FileContentIndex/2bd4671b-da87-42c4-b517-913ef86aa7c8.vsidx
.vs/darkie/FileContentIndex/780400bb-a595-41e8-83fc-e4df9ec612e8.vsidx
*.vsidx
.vs/VSWorkspaceState.json
